DATABASE_URL="postgres://postgres:postgres@db.localtest.me:5432/main"

LOG_LEVEL="info"

BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"

SEED_MANAGER_EMAIL=""
SEED_MANAGER_PASSWORD=""
SEED_MANAGER_NAME=""
CREATE_USERS_PASSWORD=""
