DATABASE_URL="postgres://postgres:postgres@db.localtest.me:5432/main"

LOG_LEVEL="info"

SESSION_COOKIE_EMPLOYEE="versatyl-session-employe"
SESSION_COOKIE_MANAGER="versatyl-session-gestionnaire"
SESSION_SECRET=""

VERSATYL_PASSWORD_EMPLOYEE=""
VERSATYL_PASSWORD_MANAGER=""
